{% extends "/layouts/base.twig" %}

{% block main %}


<section class="work reveal" id="work">
	<div class="container">
		<h2 class="title reveal-1"><span>{{post.get_field('subtitle')}}</span>{{post.title}}</h2>

		{% for i in 0..(constant('Portfolio\\ACFfields\\CaseStudy::MAX_BLOCK_ALLOWED')-1) %}
			{% set blockType = post.get_field("type#{i}") %}
			{% set title = post.get_field("title#{i}") %}
			{% set body = post.get_field("block#{i}") %}

			{% set class = 'work-block' | col(blockType) | reveal(i) %}
			<div class="{{class}}">
				{% include "parts/block.twig" %}
			</div>
		{% endfor %}

		<div class="work-block mosaic">
			{% set imageLg = Image(post.get_field('mosaic-image-large')) %}
			{% set imageSm1 = Image(post.get_field('mosaic-image-small-1')) %}
			{% set imageSm2 = Image(post.get_field('mosaic-image-small-2')) %}

			<img src="{{ imageLg.src('mosaic-large')}}" alt="{{imageLg.alt}}">
			<img src="{{ imageSm1.src('mosaic-small')}}" alt="{{imageSm1.alt}}">
			<img src="{{ imageSm2.src('mosaic-small')}}" alt="{{imageSm2.alt}}">
		</div>
		<div>
			<h3 class="subtitle">{{post.get_field('tags-title')}}</h3>
			{{post.get_field('tags') | technotags | raw}}
		</div>
	</div>
</section>

<div>
	<div class="container">
		<div class="work-block">		
			<a class="back-to-index-link fas fa-chevron-left" href="{{post.get_field('work-index').url}}">
			{{post.get_field('work-index').title}}</a>
		</div>
	</div>
</div>





{% endblock %}