<!doctype html>
<html class="no-js no-svg" {{ site.language_attributes }}> 
	<head>
		<title>{{site.title}}</title>
		<meta charset="{{ site.charset }}"/>
		<meta name="description" content="{{ site.description }}">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="author" href="{{ site.theme.link }}/humans.txt"/>
		<link rel="pingback" href="{{ site.pingback_url }}"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		{{function('wp_head')}}
	</head>


	<body>
        <header class="header">
        	<div class="topbar">
				{{function('wp_nav_menu', {theme_location: 'logo', container: true, menu_class: 'logo'})}}
				{{function('wp_nav_menu', {theme_location: 'header', container: false})}}
        	</div>
			{% block welcome %}
			{% endblock %}
        </header>
		<main>
       {% block main %}
       {% endblock %}
			
			<!-- Back to Top link -->
			<div class="back-to-top-wrapper">
				<a href="#top" class="back-to-top-link fas fa-chevron-up" aria-label="Scroll to Top"></a>
			</div>
		</main>


        {% block footer %}
{% if (darkfooter is not defined) or (darkfooter != true) %}

			{% set light = 'light' %}
			{% endif %}
        	<footer class="footer {{light}} reveal" id="footer">
        		<div class="container">
        			<div class="footer-links reveal-1">
						{{function('wp_nav_menu', {theme_location: 'footer', container: true, menu_class: ''})}}
        			</div>
        		</div>
        	</footer>
            {{ function('wp_footer') }}
        {% endblock %}
	</body>

</html>
