
<input type="hidden" value="0" name="{{META_KEY}}">
<input type="checkbox" value="1" name="{{META_KEY}}" {{checked}}>

<label for="{{META_KEY}}">{{ __('Highlight this case study?', 'my-text-domain') }}</label>

